
.caja_busqueda{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    border: 1px solid black;
    padding: 4px;
}

.formulario-busqueda{
    display: flex;
    flex-direction: row;
    align-items: center;
   justify-content:space-around;
}

.turnos-elem-group{
    padding: 4px;
    margin: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content:center;
}